<h2>Edit Notecard</h2>

<%= render "form" %>

<%= link_to 'Show', board_notecards_path %> |
<%= link_to 'Back', board_notecard_path(@notecard) %> |
<%= link_to 'Delete', @notecard, method: :delete, data: { confirm: 'Are you sure?' } %>
