<h2>Edit Notecard</h2>

<%= render "form" %>

<%= link_to "Back To Notecard", board_notecard_path(@board, @notecard) %> |
<%= link_to "Delete Notecard", [@board, @notecard], method: :delete, data: { confirm: "Are you sure?" } %>
