<div class="page_title">
  <h1>Edit Board</h1>
</div>

<%= render "form" %>

<button><%= link_to "Back To Board", board_notecards_path(@board) %></button>

<button><%= link_to "Delete This Board", @board, method: :delete, data: { confirm: "Are you sure?"} %></button>
