/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


// Navigation Customization
.navbar {
  background-color: #444;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 20px;
}

.navbar-brand {
  font-size: 3em;
  color: #fff;
}
.navbar-brand > a, a:hover, a:active, {
  text-decoration: none;
}
.navbar-credentials {
  font-size: 1.25em;
}

// Global
.page_title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  position: relative;
  margin: 0 auto;
}

#main-container {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.well {
  text-align: center;
  margin: 20px;
  background-color: #A7CD9B;
  box-shadow: 5px 5px 5px #777;
}

footer {
  margin: 50px;
}

// Boards
.board_title {
  font-size: 1.5em;
}

.board_status {
  font-size: 1.3em;
}

.board_actions {
  padding: 10px;
}

// Notecard
.notecard > .well {
  text-align: center;
  margin: 10px;
  background-color: #4383B0;
  min-height: 480px;
}

.notecard_title {
  font-size: 1.4em;
  padding: 5px;
}

.notecard_title > a, a:hover, a:active, {
  color: #fff;
}

.notecard_column {
  text-align: left;
  color: #ddd;
  border-bottom: 1px solid #999;
  padding: 5px;
  font-size: 1.2em;
}

.notecard_button {
   position:absolute;
   margin-left:-50px;
   left:50%;
   width:100px;
   bottom:0px;
}

.new_card_button {
  padding: 20px;
}

// Form
.form {
  position: relative;
  margin: 0 auto;
}

.form > .well {
  background-color: #FCD96C;
}

.form-group, .form-submit {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.2em;
}

.form-group {
  text-align: left;
}
